a {
  color: black;
}

.headertop {
  /* height: 100%;
  width: 100%; */
  /* background-color: whitesmoke;
  border-radius: 10px; */
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.headercolor {
  background: whitesmoke;
}

.logoimgflex {
  height: auto;
  width: 150px;
  flex: 1 1 150px;
}

.h1flex {
  /* background: yellowgreen; */
  flex: 1 1 50;
}

.articlecolor {
  background: whitesmoke;
}

.asidecolor {
  background: whitesmoke;
}

.imagecontainerflex {
  display: flex;
  flex-wrap: wrap;
}

.imagecontainerflex > div {
  flex: 1 1 150px;
}

.imagecontainerflex > div > img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

/* .leerflex {
  background: yellow;
  flex: 0 1 220px;
} 

.move-right {
  margin-left: auto;
} */
